.text {
  padding: 0 20px; 
  color: #737373;
}

.justify {
  justify-content: flex-end;

  ion-col {
    padding-bottom: 10px;
  }
}

.btn-ok {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  height: 3em;
}

.btn-cancel {
  background-color: rgb(182, 181, 181) !important;
}