<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>CONFIGURAÇÕES</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>Selecione a lista que deseja visualizar:</p> -->
  <ion-list lines="none">
    <ion-item (click)="infosModal()">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <p>Informações do Projeto</p>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <p>Logout</p>
    </ion-item>
  </ion-list>
</ion-content>