<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>CONFIGURAÇÕES</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>Selecione a lista que deseja visualizar:</p> -->
  <ion-list lines="none">
    <ion-item (click)="infosModal()">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <p>Informações do Projeto</p>
    </ion-item>
    <ion-item (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <p>Logout</p>
    </ion-item>
    <ion-item style="padding-top: 2em;">
      <ion-row>
        <ion-col class="alinha">
          <img src="../../../assets/imgs/imc-logo.png" />
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col class="alinha">
          <img src="../../../assets/imgs/epamig-logo.png" />
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- <ion-item>
      <ion-row style="max-width: 100%; width: 100%;">
        <ion-col class="alinha" size="12">
          <p>Vanessa C. O. Souza</p>
          <p>Patrı́cia C. da Silva</p>
          <p>Margarete M. L. Volpato</p>
          <p>Vânia A. Silva</p>
        </ion-col>
      </ion-row>
    </ion-item> -->
  </ion-list>
</ion-content>