<ion-toolbar>
  <ion-title class="ion-text-center titulo">Visualizar campo:</ion-title>
</ion-toolbar>

<ion-row class="row-select">
  <ion-col>
    <ion-label>Selecione um campo para visualizar no mapa: </ion-label>
    <ion-select placeholder="Selecione" (ionChange)="saveEventDetails($event)" #selectDateRaster>
      <ion-select-option *ngFor="let field of props" [value]="field">{{field.properties.name}}
      </ion-select-option>
    </ion-select>
  </ion-col>
</ion-row>

<ion-row class="justify">
  <ion-col size="5">
    <button class="btn btn-sucess btn-cancel" (click)="cancel()" ion-button expand="block">
      Cancelar
    </button>
  </ion-col>
  <ion-col size="5" class="ion-text-center">
    <button class="btn btn-sucess" (click)="add()" ion-button expand="block">
      OK
    </button>
  </ion-col>
</ion-row>