<ion-row class="box-modal">
  <ion-col size="4">
    <p><b>Selecionado:</b></p>
    <p><b>{{ campoList.length }}</b> campo{{campoList.length > 1 || campoList.length == 0 ? 's' : ''}}</p>
  </ion-col>
  <ion-col size="8" class="box-btn">
    <button class="btn-act" ion-button expand="block">
      Cancelar
    </button>
    <button class="btn-act" ion-button expand="block">
      Avançar
    </button>
  </ion-col>
</ion-row>

<button class="btn" ion-button expand="block">
  Sair do modo de adição de campo
</button>