<ion-toolbar>
  <ion-title class="ion-text-center titulo">Nome do campo selecionado</ion-title>
</ion-toolbar>

<ion-list lines="none">
  <ion-item>
    <ion-input type="text" [formControl]="nomeCampo">
    </ion-input>
  </ion-item>
</ion-list>

<ion-row class="justify">
  <ion-col size="5">
    <button class="btn btn-sucess btn-cancel" (click)="cancel()" ion-button expand="block">
      Cancelar
    </button>
  </ion-col>
  <ion-col size="5" class="ion-text-center">
    <button class="btn btn-sucess" (click)="add()" ion-button expand="block">
      Adicionar
    </button>
  </ion-col>
</ion-row>