<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>selecione um pixel para prosseguir</span>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-row class="fullscreen" [hidden]="!viewModeFlag">
    <ion-col>
      <div leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl"
        (leafletMapReady)="onMapReady($event)">
      </div>
    </ion-col>
  </ion-row>
</ion-content>