<ion-content class="ion-padding">
  <ion-grid style="height: 100%">
    <ion-row style="height: 28%">
      <ion-col>
        <div class="ion-text-center logo"><img src="assets/imgs/logo-branco.png" /></div>
        <!-- <ion-icon name="cafe-outline"></ion-icon> -->
      </ion-col>
    </ion-row>

    <ion-row class="form-row">
      <ion-col>
        <ion-list>
          <ion-item style="margin-bottom: 5px;">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="email" [(ngModel)]="userData.email" placeholder="Email">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userData.password" placeholder="Senha">
            </ion-input>
            <ion-icon (click)="showPassword = !showPassword" [name]="showPassword ? 'eye-off' : 'eye'">
            </ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="fgt-psw">
      <ion-col>
        <p class="link">Esqueci a senha</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 20px;">
      <ion-col class="ion-text-center">
        <button class="btn" color="tertiary" ion-button expand="block" (click)="login()">
          Entrar
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p class="register">Ainda não é cadastrado?&nbsp;<a class="link" (click)="register()">Crie uma conta</a></p>
        <!-- <button class="btn" tertiary ion-button expand="block" (click)="register()">
          Criar Conta
        </button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>