ion-content {
    --background: var(--ion-color-primary);
}

ion-list {
    background: transparent !important;
}

ion-item {
    --background: transparent !important;
}

ion-input {
    --padding-start: 8px !important;
    background-color: transparent;
}