ion-grid {
    padding: 0;
}

.title {
    text-align: center;
    font-size: 22px;
    margin-top: 0;
}

.form {
    text-align: center;

    ion-list {
        margin: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    ion-list:nth-child(1) {
        margin-top: 15px;
    }

    ion-item {
        margin-left: 0;
        margin-bottom: 10px;

        ion-icon {
            padding-bottom: 7px;
        }
    }

    .small-input {
        ion-item {
            width: 100%;
            margin-right: 0 !important;
        }
    }

}

h1 {
    font-size: 18px;
    // font-family: 'Bold';
    margin-bottom: 0em;
}

.bottom-buttons {
    margin-top: 20px;
    justify-content: space-between;

    #cancel {
        background-color: var(--ion-color-primary-tint);
    }

    button {
        font-weight: bold;
        border-radius: 15px;
    }
}

span {
    font-size: 16;
    font-family: 'Bold';
}

.error-message {
    font-weight: bold;
    color: #b94a48;
    font-size: 10px;
}