<app-header [showButtonBack]="'/'" title="Cadastro cafe"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <div class="title">
      <h1>Preencha as informações a seguir para se cadastrar</h1>
    </div>

    <ion-list class="form" [formGroup]="form">
      <ion-item>
        <ion-input type="text" placeholder="E-mail*" formControlName="email"></ion-input>
      </ion-item>
      <p [hidden]="!isInvalid('email')" class="error-message ion-text-center">
        {{ getErrorMessage('email') }}
      </p>

      <ion-item>
        <ion-input type="password" placeholder="Senha*" formControlName="password"></ion-input>
      </ion-item>
      <p [hidden]="!isInvalid('password')" class="error-message ion-text-center">
        {{ getErrorMessage('password') }}
      </p>

      <ion-item>
        <ion-input type="password" placeholder="Confirme a Senha*" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <p [hidden]="!isInvalid('confirmPassword')" class="error-message ion-text-center">
        {{ getErrorMessage('confirmPassword') }}
      </p>
    </ion-list>

    <!-- <p [hidden]="form.valid" class="error-message ion-text-center">
      Preencha os campos obrigatórios para prosseguir
    </p> -->

    <ion-row class="bottom-buttons">
      <ion-col size="5">
        <button (click)="back()" class="btn" id="cancel" primary ion-button expand="block">
          Cancelar
        </button>
      </ion-col>
      <ion-col size="5">
        <button (click)="register()" [disabled]="!form.valid" class="btn" id="finish" primary ion-button expand="block">
          Concluir
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>