<!-- <app-header title="cafe" [showButtonPerfil]="true"></app-header> -->

<ion-content class="ion-no-padding">
  <ion-row class="fullscreen" [hidden]="viewMode !== 'map'">
    <ion-col>
      <div leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl"
        (leafletMapReady)="onMapReady($event)">
        <div *ngIf="campoControl == 2" leafletDraw [leafletDrawOptions]="drawOptions" [leafletDrawLocal]="drawLocal">
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>