<ion-tabs #tabs>
  <ion-tab-bar slot="bottom" *ngIf="campoControl == 0">
    <ion-tab-button tab="campos" selected>
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Campos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notas">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="addCampo()">
      <ion-icon class="button-center" name="add-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="relatorios">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Relatórios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ajustes" (click)="logout()">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar slot="bottom" *ngIf="campoControl != 0">
    <ion-tab-button class="close" (click)="closeAddCampo()">
      <ion-label>Sair do modo de adição de campo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>