.icons {
  max-width: 45%;
}

.button-center {
  font-size: 79px;
  color: var(--ion-color-success);
}

.button-native {
  padding: 0 !important;
}

.close {
  max-width: 100%;

  ion-label {
    font-weight: bold;
    color: var(--ion-color-danger-shade);
  }
}